<h2>Howdy <%= @current_user.first_name %>!</h2>
<div id="user-details">
  <p>
    <strong>Email:</strong>
    <%= @current_user.email %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= @current_user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @current_user.last_name %>
  </p>

  <p>
    <strong>Selected Instructor:</strong>
    <% if @current_user.instructor_id.present? %>
      <%= User.find(@current_user.instructor_id).full_name %>
    <% else %>
      <em>No instructor selected</em>
    <% end %>
  </p>

  <p>
    <strong>Select Instructor:</strong>
    <%= form_with url: save_instructor_path, method: :post, local: true do |form| %>
      <%= form.collection_select(:instructor_id, User.where(role: 1), :id, :full_name, prompt: "Choose an instructor") %>
      <%= form.submit "Save Instructor" %>
    <% end %>
  </p>
</div>