<div class="container mt-4">
  <h1 class="text-center mb-4">Start a Practice Test</h1>

  <%= form_with url: practice_test_form_path, method: 'post', id: 'topics_types_form', class: "card p-4 shadow" do |form| %>

    <h3 class="text-primary">Select what topics you would like to practice:</h3>
    <div class="row">
      <% @topics.each do |topic| %>
        <div class="col-md-6">
          <div class="form-check">
            <%= check_box_tag 'topic_ids[]', topic.topic_id, false, id: "topic_ids_#{topic.topic_id}", class: 'form-check-input' %>
            <%= label_tag "topic_ids_#{topic.topic_id}", topic.topic_name, class: 'form-check-label' %>
          </div>
        </div>
      <% end %>
    </div>

    <h3 class="text-primary mt-4">Select what question types you would like to practice:</h3>
    <div class="row">
      <% @types.each do |type| %>
        <div class="col-md-6">
          <div class="form-check">
            <%= check_box_tag 'type_ids[]', type.type_id, false, id: "type_ids_#{type.type_id}", class: 'form-check-input' %>
            <%= label_tag "type_ids_#{type.type_id}", type.type_name, class: 'form-check-label' %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="text-center mt-4">
      <%= form.submit "Submit", class: "btn btn-success btn-lg" %>
    </div>

  <% end %>
</div>
