<h1>Practice Problems</h1>

<%= link_to 'Back to Problem Form', problem_form_path, class: 'btn btn-secondary' %>

<h3>Selected Topics</h3>
<% if @selected_topics.any? %>
  <ul>
    <% @selected_topics.each do |topic| %>
      <li><%= topic.topic_name %></li>
    <% end %>
  </ul>
<% else %>
  <p>No topics selected.</p>
<% end %>

<h3>Selected Question Types</h3>
<% if @selected_types.any? %>
  <ul>
    <% @selected_types.each do |type| %>
      <li><%= type.type_name %></li>
    <% end %>
  </ul>
<% else %>
  <p>No question types selected.</p>
<% end %>

<h1>Practice Problem</h1>

<% if @question %>
  <% if @question.img.present? %>
    <div class="problem-image">
      <img src="<%= @question.img %>" alt="Problem Image" style="max-width: 100%; height: auto;">
    </div>
  <% end %>

  <p><strong>Problem:</strong> <%= @question_text %></p>

  <div id="problem-container">
  <h3>Your Answer:</h3>
  <% if @submitted_answer.blank? %>  <!-- Only show the submit button if no answer has been submitted yet -->
      <%= form_with url: submit_answer_path, method: :post, local: true do |form| %>
        <div>
          <%= form.label :answer, "Enter your answer:" %>
          <%= form.text_field :answer, placeholder: "Enter your answer here", id: "answer_input" %>
        </div>
        <%= form.submit "Submit", id: "submit_answer_button" %>
      <% end %>
    <% end %>
  
  <% if @submitted_answer.present? %>
    <div style="margin-top: 20px; color: <%= @is_correct ? 'green' : 'red' %>;">
      <h2><%= @is_correct ? "Correct!" : "Incorrect!" %></h2>
    </div>

    <div style="margin-top: 10px;">
      <p><strong>Your Answer:</strong> <%= @submitted_answer %></p>
      <p><strong>Correct Answer:</strong> <%= @solution %></p>
      <p><strong>Explanation:</strong> <%= @explanation %></p>
    </div>

    <%= form_with url: try_another_problem_path, method: :post, local: true do %>
      <%= submit_tag "Try Another Problem", class: "btn btn-primary", style: "margin-top: 20px;" %>
    <% end %>
  <% end %>
  </div>

<% else %>
  <p>No questions available for the selected criteria.</p>
<% end %>