<div class="mb-3">
  <%= form.label :template_text, "Question Template Text", class: "form-label" %>
  <%= form.text_area :template_text, class: "form-control" %>
  <small class="form-text text-muted">Use <code>[]</code> to wrap variables in the template text.</small>
</div>

<div class="mb-3">
  <%= form.label :equation, "Equation", class: "form-label" %>
  <%= form.text_field :equation, class: "form-control" %>
  <small class="form-text text-muted">
    Use <code>^()</code> for exponents (e.g., <code>x^(2)</code>), and <code>sqrt()</code> for square roots. Do not use <code>=</code> anywhere. Example: to submit <code>answer = x + y</code>, enter <code>x + y</code>
  </small>
</div>

<%= render 'templates/shared/variable_fields', form: form %>

<div class="mb-3">
  <%= form.label :round_decimals, "Round Decimals", class: "form-label" %>
  <%= form.number_field :round_decimals, class: "form-control" %>
  <small class="form-text text-muted">
    Specify how many decimal places to round the answer to.
  </small>
</div>
